<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>895637272261-3nh8lt7928t4bcomk9ba3dai19kosphq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895637272261-3nh8lt7928t4bcomk9ba3dai19kosphq</string>
	<key>API_KEY</key>
	<string>AIzaSyChimUafrZOtmvpC_IoSONxwWNKI_qEZeQ</string>
	<key>GCM_SENDER_ID</key>
	<string>895637272261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teslimsalami.Detech-</string>
	<key>PROJECT_ID</key>
	<string>detech-8a848</string>
	<key>STORAGE_BUCKET</key>
	<string>detech-8a848.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895637272261:ios:af3f06b56d27d52d</string>
	<key>DATABASE_URL</key>
	<string>https://detech-8a848.firebaseio.com</string>
</dict>
</plist>